@import '../../style.scss';

.container {
    position: relative;
    padding: 2em;
};

.form-style {
    @include flexible();
    text-align: left;
}

@media (max-width: 575px) {
    .container {
        width: 80%;
    };
};

@media (min-width: 576px){
    .container {
        width: 60%;
    };
};