@import '../../../style.scss';

.button-main {
    position: relative;    
    background: $primary-color;
    border-radius: 60px;
    height: 100%;
    width: 15em;
};

.button-text {
    position: relative;
    font-family: $font-stack;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $background-color;
};

.button-box {
    position: relative;
    width: 100%;
    height: 60px;
    top: 2em;
}