@import '../../../style.scss';

.button-main {
    position: relative;    
    background: $primary-color;
    border-radius: 60px;
    height: 100%;
    width: 16em;
    border-color: $primary-color;
        &:hover {
            background: $secondary-color;
            border-color: $secondary-color;
            };
};


.button-text {
    position: relative;
    font-family: $font-stack;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: $background-color;
};

.button-box {
    position: relative;
    width: 100%;
    height: 3.5em;
    top: 2em;
}