@import './style.scss';

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00000018;
  align-content: stretch;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
